html, body {
  font-family: Arial, sans-serif;
  font-size: 12pt;
}
.invoice-invoiced {
  position: relative;
}
.main {
  width: 540px;
  position: absolute;
  left: 20px;
}
/*.logobar {
  width: 150px;
  position: absolute;
  left: 540px;
  top: 0px;
}*/
.logobar img {
  display: block;
  width: 160px !important;
  position: absolute;
  left: 590px !important;
  top: -70px !important;
}
/*.header img {
  width: 269px;
  position: absolute;
  top: 10px;
}*/
.text {
  position: absolute;
  top: 300px;
}
.invoice-header {
  width: 540px;
  height: 100px;
  top: 50px;
  position: absolute;
  color: #000;
  text-align: left;
  z-index: 1000;
  font-size: 9pt;
}
.address {
  position: absolute;
  top: 0px;
  height: 60px;
  font-size: 8pt;
}
.rechnung {
  position: absolute;
  height: 50px;
  top: 50px;
  left: 20px;
  display: block !important;
  font-weight: bold;
  text-transform: uppercase;
}
.invoice-footer {
  border-top: 0px solid #646464;
  width: 100%;
  font-size: 10pt;
  color: #646464;
  text-align: center;
  padding-top: 4px;
}
.invoice-text {
  margin-top: 50px;
  line-height: 1.4;
}

.customer {
  position: relative;
  left: 0;
  top: 130px;
  margin-bottom: 120px;
}
.field--name-commerce-customer-billing .field__label {
  display: none;
}
.customer .field-label{
  display: none;
}
.customer .field-name-field-customer-lastname {
  display: none;
}
.invoice-header-date {
  position: absolute;
  top: 130px;
  left: 340px;
  font-size: 10pt;
  font-weight: bold;
}
.invoice-number {
  position: absolute;
  top: 150px;
  left: 340px;
  font-size: 10pt;
  font-weight: bold;
}
.ustid {
  position: absolute;
  top: 170px;
  left: 340px;
  font-size: 10pt;
  font-weight: bold;
}

/*.order-id {
  position: absolute;
  top: 160px;
  left: 340px;
  font-size: 10pt;
  font-weight: bold;
}*/

.line-items {
  margin-top: 80px;
  min-height: 600px;
}
.invoice-footer {
  position: absolute;
  bottom: 0;
}
.view-commerce-line-item-table table {
  width: 540px;
  line-height: 1.1em;
  border-collapse: collapse;
  font-size: 10pt;
}
.view-commerce-line-item-table thead {
  border-bottom: 2px solid black;
}
.view-commerce-line-item-table th {
  text-align: right;
}
.view-commerce-line-item-table td {
  text-align: right;
  height: 25px;
  font-size: 10pt;
}

.view-commerce-line-item-table .views-field-commerce-unit-price {
    width: 90px;
}
.view-commerce-line-item-table .views-field-commerce-total {
  text-align: right;
  width: 110px;
}
.view-commerce-line-item-table .views-field-quantity {
  padding-right: 15px;
  width: 40px;
  text-align: center;
}
.view-commerce-line-item-table .views-field-line-item-title {
  text-align: left;
}
.order-total table {
  width: 540px;
  border-top: 2px solid #ddd;
  font-weight: bold;
  font-size: 11pt;
}
td.component-title {
  text-align: right;
}
td.component-total {
  text-align: right;
  width: 100px;
}
.contextual-links-wrapper {
  display: none;
}
.invoice-canceled .order-total table {
  border: 2px solid #ddd;
  margin-top: 100px;
}
