ul.views-fluid-grid-items-h-margin-0-5em li.views-fluid-grid-item {
  margin-left: 0;
}
li.views-fluid-grid-item {
  padding: 1em;
}
.field--name-commerce-price {
  float: left;
  font-weight: bold;
}
.field-name-field-commerce-product {
  float: right;
}
.block--facetapi ul {
  list-style: none;
}