ul.views-fluid-grid-items-h-margin-0-5em li.views-fluid-grid-item {
  margin-left: 0;
}
ul.views-fluid-grid-items-v-margin-1em li.views-fluid-grid-item {
  margin-bottom: 0;
}
li.views-fluid-grid-item {
  padding: 1em;
  margin: 0 1em 1em 0;
  position: relative;
}
.field-name-commerce-price {
  float: left;
  position: absolute;
  bottom: 0;
  clear: both;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em 1em 1em 0;
}
.field-name-field-commerce-product {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.field-name-field-product-subtitle {
  margin-bottom: 1em;
  font-style: italic;
  line-height: 1.2;
}
/* Suchleiste */
.block--facetapi {
  background: none repeat scroll 0 0 #F0F0F0;
  h2 {
    background: #f9b000;
    color: #fff;
    padding: 0.5em;
  }
  ul {
    list-style: none;
    padding: 0 .2em 1em .6em;
  }
}
.view-id-produkte h2 a {
  text-decoration: none;
}
.view-id-produkte .field-name-field-pd-description {
  display: none;
}
.view-id-produkte .views-fluid-grid-item:hover .field-name-field-pd-description {
  display: block;
  clear: both;
}
/* Grid View Starseite */
.views-fluid-grid {
  h2 {
    font-size: 1em;
  }
  .field-name-field-product-image {
    text-align: center;
    float: none;
    margin-bottom: .5em;
  }
  .field-name-field-product-pdf {
    float: left;
    padding: 1em 0;
  }
}
.field-name-field-product-image {
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
}
.view-id-produkte .field-name-field-product-image {
  float: none;
  }
.field-name-field-pd-category, .field-name-node-link {
  clear: both;
}
.commerce-add-to-cart {
  padding: 1em 0;
  float: left;
}
#block-views-produkte-block-2 {
  margin-top: 3em;
}
.block--facetapi ul {
  padding-left: 0;
}
button[disabled], html input[disabled] {
    display: none;
}
#flexslider-1 {
  width: 175px;
}
.pager li {
  list-style: none;
  display: inline-block;
  a {
    text-decoration: none;
  }
}