/* User acount pages */

.view-commerce-addressbook-defaults {
  width: 200px;
  background: $yellow;
  padding: 1em;
}

.view-commerce-addressbook td {
  padding: 1em;
  background: $white;
}

/* Hide Newsletter Registration on user register*/

.page-user-register #edit-simplenews {
  display: none;
}

/* User Login Formatting

.page-user-login {
  h1 {
    display: none;
  }
}
#user-login, #user-pass {
  margin: 0;
  border: 0;
  padding: 0;
}*/